body{
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 30px;
}

p{
    font-size: 16px;
    font-weight: lighter;
    color: gray;
    text-align: center;
}
a{
    text-decoration: none;
    color: white;
}

button{
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 12px 28px;
}

button:hover{
    background-color: white;
    color: #3882F6;
}

/*Header Styling*/
.header{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    display: flex;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    color: white;
}

.header-links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-size: 20px;
}

.link-one{
    margin-right: 15px;
}

.link-two{
    margin-right: 15px;
}

.link-three{
    margin-right: 15px;
}
/**/

/*Container One Styling*/
.container-one{
    background-color: #1F2937;
    color: white;
    display: flex;
    width: auto;
    height: 200px;
    align-items: center;
    justify-content: center;
    padding: 125px;

}
.left-side{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-basis: 400px;
    margin-right: 50px;
}

.right-side{
    
}

.chester-pointing{
    display: flex;
    height: 250px;
    width: 350px;
}
/**/

/*Container Two Styling*/
.container-two{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-two-text{
    display: flex;
    justify-content: center;
    color: black;
}

.images{
    display: flex;
    justify-content: center;
}

.block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
}

.block-text{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.photo{
    margin-right:25px;
    border: solid #3882F6;
    width: 115px;
    height: 150px;
    border-radius: 15px;
}

/**/

/*Container Three Styling*/
.container-three{
    background-color: #e5e7eb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.quote-text{
    font-style: italic;
}

.quote-author{
    display: flex;
    font-weight: bold;
    color: black;
    justify-content: flex-end;
}

/**/

/*Footer Styling*/
.footer{
    background-color: #1F2937;
    color: white;
    display: flex;
    justify-content: center;

}